<div class="row">
  <div class="col-12 col-md-8 col-xl-6">
    <div class="row text-center">
      <div class="col-4 col-md-5">Date</div>
      <div class="col-3 col-md-2">Customers</div>
      <div class="col-2 col-md-2">Units</div>
      <div class="col-3 col-md-3">Sales</div>
    </div>
  </div>
  <div class="col d-none d-lg-block">
    Notes
  </div>
</div>

