<h1>Daily Sales</h1>
<%= render 'inline_header' %>

<%= render 'inline_form', daily_sale: @daily_sale %>

<%= render partial: 'inline_show', collection: @daily_sales, as: :daily_sale, locals: { page: @page } %>

<%= render 'inline_footer' %>
