<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select :roles, options_for_select(User.all_roles, field.to_array) , {},
    multiple: :true, size: User.all_roles.size %>
</div>
