<div class="row justify-content-center">
  <div class="col-auto">
    <%= link_to "Add User", new_user_registration_path(site_id: @site.id), class: "btn btn-secondary" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        Email
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>

