<H1>NZ Wine Data</H1>
<P>
Welcome to the New Zealand Wine Tours Data Sharing Project. Please <%= link_to "sign-in", new_user_session_path %> to your account.
</P>
<P>
If you do not yet have an account and would like to join the Data Sharing Project, please <%= link_to "contact Jake", "http://nzwinetours.co.nz/contact/" %> at New Zealand Wine Tours.
</P>
<P>
Thank you for contributing to the project. 
</P>
