<H1>Sales Data Aggregator</H1>
<P>
Welcome to the demo for 4Pi's sales data aggregator. Please <%= link_to "sign-in", new_user_session_path %> to your account.
</P>
<P>
Please not that this is for demonstration purposes only and your account and data may be purged at any time.
</P>
