<% if can? :view, :administrate %>
  <div class="navbar-nav">
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       <%= link_to_active? "Users", admin_users_path, class: "dropdown-item" %>
       <%= link_to_active? "Sites", admin_sites_path, class: "dropdown-item" %>
       <%= link_to_active? "Sales", admin_daily_sales_path, class: "dropdown-item" %>
       <%= link_to_active? "Sites", admin_site_path(current_user.site_id), class: "dropdown-item" %>
      </div>
    </div>
  </div>
<% end %>
