<div class="navbar-nav">
  <div class="nav-item dropdown">

    <%= link_to_category "Admin", "#", :admin, {
      class: "nav-link dropdown-toggle",
      id: "navbarDropdownMenuAdmin",                                       
      'data-toggle': "dropdown",                                                                                   
      'aria-haspopup': "true",
      'aria-expanded': "false",
    } %>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
      <%= active_link_to current_user.site, site_path(current_user.site_id), class: "dropdown-item" if can? :show, current_user.site  %>
      <div class="dropdown-divider"></div>
      <%= active_link_to "Add User", new_user_registration_path, class: "dropdown-item" if can? :create, User %>
      <%= active_link_to "All Sites", sites_path, class: "dropdown-item" if can? :index, Site %>
    </div>
  </div>
</div>
