<div class="navbar-nav my-2 my-lg-0">
  <% if user_signed_in? %>
    <div class="nav-item dropdown">
      <%= link_to_category(current_user, :registrations, { 
        class: "nav-link dropdown-toggle", 
        id: "navbarDropdownMenuUser" })  %> 
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuUser">
        <%= active_link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
        <%= active_link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% else %>
    <%= active_link_to 'Sign in', new_user_session_path, class: "nav-item nav-link" %>
  <% end %>
</div>
