<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        Name
      </div>  
      <div class="col">
        Users
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>

