<div class="row">
  <div class="col">
	 <div class="row">
      <div class="col">
        <%= site.name %>
      </div>
      <div class="col">
        <%= site.users_count %>
      </div>
	 </div>
  </div>
  <div class="col">
    <div class="row">
      <%= link_to "Show", site_path(site) %>
    </div>
  </div>
</div>

