<nav class="navbar navbar-default"><div class="navbar-brand">NZ Wine Data</div></nav> <!-- Dummy nav bar for formatting -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <%= link_to_active? "NZ Wine Data", root_path, class: "navbar-brand" %>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav mr-auto">
        <%= link_to_active? 'Long', home_long_path, class: "nav-item nav-link" %>
        <%= render "layouts/menu/admin" %>
      </div>
      <%= render "layouts/menu/profile" %>
    </div>
  </div>
</nav>
