<nav class="navbar"><span class="navbar-brand">NZ Wine Data</span></nav> <!-- Dummy nav bar for formatting -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <%= active_link_to "NZ Wine Data", root_path, class: "navbar-brand" %>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav mr-auto">
        <%= render "layouts/menu/miner" if can? :mine, :navbar %>
        <%= render "layouts/menu/admin" if can? :admin, :navbar %>
      </div>
      <div class="navbar-nav ml-auto">
        <%= render "layouts/menu/profile" %>
      </div>
    </div>
  </div>
</nav>
